*.pyc
__pycache__/
*.ipynb_checkpoints/
*.pt
*.ckpt
*.log
datasets/
results/
outputs/
baselines/TDMLLM/company_descriptions_cache/
baselines/TDMLLM/summaries/
splits/
stare_llm_config.yaml
pyrightconfig.json
.cache/
STARE/pipeline_data/

# Ignore all vector_store artifacts
**/vector_store/
**/vector_store_sample/
**/results/
